
.search-form {
  margin-left: auto; 
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 280px;
}

.search {
  background-color: #5abaf2;
}

.search-form-input{
  padding: 5px;
  height: 35px;
}

.gallery {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery__item {
  display: block;
  text-decoration: none;
  flex-basis: calc((100% - 20px) / 4);
  
}

.image__item {
  width: 350px;
  height: 250px;
  background-size: cover;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  color: #65776A;
}

.info-item {
  
  margin-right: 15px;
  text-align:center
}

.photo-card {
  float: left; 
  margin-right: 10px; 
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.photo-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.load-more {
  min-width: 50px;
  position: relative;

  text-align: center;
  text-transform: uppercase; 

  padding: 7px;
  margin: 10px 7px;

  font-size: 12px;
  font-weight: 600;

  color: #ecff01;

  transition: 0.5s;

  background-color: #3498db;



  margin-left: auto;
  margin-right: auto;
}

.load-more:hover{
  background-color: #1285d1;
}

.button-submit{
  min-width: 50px;
  position: relative;
  display: inline-block;

  text-align: center;
  text-transform: uppercase; 

  padding: 7px;
  margin: 10px 7px;

  font-size: 12px;
  font-weight: 600;

  color: #ecff01;

  transition: 0.5s;

  background-color: #3498db;
}


.button-submit:before {
  position: absolute;
  content:"";
  border-top: 5px solid lighten(#3498db, 5%);
  border-left: 5px solid lighten(#3498db, 5%); 
  border-right: 5px solid darken(#3498db, 5%);
  border-bottom: 5px solid darken(#3498db, 5%);

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;  

  transition: 0.5s;

}

.button-submit:hover {
  box-shadow: 7px 7px darken(#3498db, 20%), -7px -7px lighten(#3498db, 20%);
  cursor: pointer;
  &::before {
    border: 0px ;
  }
}

